language: go
os:
- linux
- osx
go:
- 1.9.x
script: make build
matrix:
  allow_failures:
  - go: tip
git:
  submodules: false
env:
  global:
  - secure: WB/4RQ8P5Q8MkGzASC6mFdEwrXVmKoeTlzzMcZh63GuoVk2vPhREvgZKc0o48+b/w3P2kv9NOfr3aFUTNt4fLKqjzAmUb3fKe2ISim727QnS4SMo7UN4Oj+/7ipQqRNR2LO3p01uIbhLVhPs/398i/ZnCjHObcX4cADOO2SwgjRYJw/92+qT80JY7DMIBfzCfKUxz/BV5qqSPMoO2IEUkIXz8oQHo1LD5Bq6Qrfxx8kRbLIFDZASG7CYPR3FOCYuXvAltzrBd0fxW8/VzHgjpjkQHxQuBt95UT3pSuA0MPOFjAUSBQ90MIsRSdqNnvuA+eykgU+QY0Twzt1u2SIJvdGHfU4FnZrwWnnkHVlMnaM/KpsbJ0pGJO078+uZb8S1qq3QMLAzJ6NJSbtZKLPLNMqrIf/Oi/NSCGE8kfU0FMMaC8R8UuGypc218LsUNnkH0vcRx7WNkiOnGd6RTvKOx14k2DnzHJBXwlmAg0PA1wY+kw31hRdIVgeuFYzjSK/0ikZJ3cMy4JREpOtSew15MkpMDAMX9SCo0/xH1H10RRqQcKMVNrMRDxzYuQa4h6GcnTu76fNw/MbWq7JN6KlcKupeK1IJpmorqj/lrywu/fZLJWQPUfkdNOJmzkplVBNVJHYPe3SF4VMLzFnz4qNasRJIk2noXp8eXWv/hOFEzQ8=
  - secure: R9dZFEXM5JU9Pmp5OonAjm3IPZ1lbwcBXuB/SqtnchVpJw0XX0Hf9cVYfDzhzRT19Se90MPuYLW2CgpBoU5O/t2HP0dXhlaDWWTnU3y44+xScMGBjPaBcsSFGFgerbYHw7jQ7QCkgCYYR+UP7Dc1v7tBUMFiDrut6/I86MLTJjW2tOBYRQ7llpedar8bMkgQ+iV+2wIoU+9l6MgKsdC5JLHDPB8BhbSfSc6CgxRyBjmvPpPQwHh+yCgkUKTUCepXpDcMAIQtUPOajvUT4zrKXE5C+vq+WA7lG8MH4aO2QK3jMQIon/sOZOJc+DCRvJqGn/JIwGdpF/w0SfqjsiSbswIp4e17ez6QjCtp5jPzDQPm3U9iXjsU3E3SkjIExXPNXQwEMqEkszyvRIrEx95+y/wYY00oTW8wzZFQDf/XAfwjjcnRRDeor65CwcL+xcV88XUikGUEPsu5V+TESxm3IJDaloh2zqSPwZW+GEeHt2GrvqUoyfj9VT8+DaYU2rkkVASiUiUpFtuOtCkU76A3A2bwxbYgZ/K66b4MqEwnNUBEXt5WZEsc5wmxvGhpO9Crfs4VHgELjm57P8gY2OK7Q9sAMS5JHBq5Ei7vbfto/idyF7fLUwpLxxEnYb2SoCL9ZLBU/bzK1uvQJxHaxb9lqYDmYPwq3MgODi+8CnE6IZ8=
